{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sign Up</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top hehe">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav" style=" margin-right:1vw;">
                        <li class="nav-item" >
                             <a style="color:#FF786A;  font-family: 'Libre Caslon Text',serif;" class="nav-link">MOVIE GOERS</a>
                        </li>
                    </ul>
                </div>
    </nav>
    <br>
    <br>
    <br>

    <h1 class = "text-center" style= "font-family:'Libre Caslon Text',serif; font-size: 4vw;; "><b>Sign Up!</b></h1>

    <div class="jumbotron container text-center justify-content-center" style="background-color: #C24229;">
                <div class="row">
                    <!-- <div class="container-fluid d-flex justify-content-center">
                        <h1>Sign Up!</h1>
                    </div> -->
                    <div class="input col-md-12 d-flex justify-content-center">
                        <form class="form" method="POST" action="{% url 'signup' %}">
                            {% csrf_token %}
                            <div class="col-md-12 col-sm-12">
                                {{ form.username.label_tag }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.username }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password1.label_tag }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password1 }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password2.label_tag}}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                {{ form.password2 }}
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <input id="regis" type="submit" value="Register" class="btn btn-dark text-light">
                            </div>
                            {% if form.errors %}
                            <div class="d-flex justify-content-center">
                                <p>Invalid Password</p>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                    
                </div>
        
            </div>
    
</body>
</html>
