<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <title> Movie Goers </title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top hehe">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav" style=" margin-right:1vw;">
                        <li class="nav-item" >
                             <a style="color:#FF786A;  font-family: 'Libre Caslon Text',serif;" class="nav-link"><b>MOVIE GOERS</a>
                        </li>
                
                    </ul>
                </div>
        </nav>
   
   <br><br>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
        <div class= "col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text">
            <div class="col-md-12 ">
                <h1 style="color: black; font-family: 'Libre Caslon Text',serif; font-size: 5vw; ;">Now you are logged in, {{ user.username}}</h1>
            </div>
            <div class="col-md-12 ">
                <a id="cari" href="{% url 'billa:searchMovie' %}" class="btn btn-outline-dark text-dark">Search</a>
            </div>
            <div class="col-md-12 ">
                <a id="cari"  class="btn btn-outline-dark text-dark" href="{% url 'fadhil:library' %}">Now Playing</a>
            </div>
            <div class="col-md-12 ">
                <a id="cari" href="{% url 'amiya:recommendMovie' %}" class="btn btn-outline-dark text-dark">Recommendation</a>

            </div>
            <div class="col-md-12 ">
                <a id="cari" href="{% url 'review' %}" class="btn btn-outline-dark text-dark">Review</a>
            </div>
            <div class="col-md-12 ">
                    <a id="logout" href="{% url 'logout' %}" class="btn btn-outline-dark text-dark">Sign Out</a>
            </div>
        </div>
        </div>
           
        <div class="col-md-6 d-flex justify-content-center align-items-center " style="margin-left: -10px;">
                <img src="{% static 'images/logo.png' %}">
        </div>

        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
        <div class= "col-md-6 d-flex justify-content-center align-items-center" >
            <div class="text">
                <div class="col-md-12">
                    <h1 style="color: black; font-family: 'Libre Caslon Text',serif; font-size: 7vw; ;"> <b> Please <br> Sign-In <br> First</b></h1>
                </div>
                <div class="col-md-62 col-sm-62"  style="color: grey;">
                        <a id="login" href="{% url 'login' %}" class="btn btn-outline-dark text-dark">Sign In</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center " style="margin-left: -10px;">
            <img src="{% static 'images/logo.png' %}">
        </div>
        </div>

        </div>  

    </div>
    {% endif %}

</body>
</html>