{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Login </title>
    <link rel="stylesheet" type = "text/css" href= "{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">       
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% block content %}
<body class= "body-bg">
        
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top hehe">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav" style=" margin-right:1vw;">
                        <li class="nav-item" >
                             <a style="color:#FF786A;  font-family: 'Libre Caslon Text',serif;" class="nav-link">MOVIE GOERS</a>
                        </li>
                    </ul>
                </div>
    </nav>


    <div class= "loginbox">
        <h1 style= text-align:center; > Please Login Here </h1>
        <form action='/' method= 'POST'>
            {% csrf_token %}
            <p> Username </p>
                <input type= "text" name='username' placeholder= "Enter Username" required>
                <p> Password </p>
                <input type= "password" name= 'password' placeholder="Enter Password" required>
                <input type= "submit" name= '' value="login">
        </form>
    </div>
</body>
</html>
</head>
{% endblock %}
