<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width =device-width">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">.
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">       

  <title> Now Playing </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top hehe">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav" style=" margin-right:-1vw;">
            <li class="nav-item" >
                    <a style="color:#FF786A;  font-family: 'Libre Caslon Text',serif;" class="nav-link" >MOVIE GOERS</a>
            </li>
            <li class="nav-item">
                <a style="color:black; margin-left: 55vw;  font-family: 'Libre Caslon Text',serif;" class="nav-link" href="{% url 'billa:searchMovie' %}" ><b>Search</b></a>
            </li>
            <li class="nav-item">
                <a style="color:#FF786A;  font-family: 'Libre Caslon Text',serif;" class="nav-link" ><b>#NP</b></a>
            </li>
            <li class="nav-item">
                <a  style="color:black;  font-family: 'Libre Caslon Text',serif;" class="nav-link" href="{% url 'amiya:recommendMovie' %}"><b>Recommendation</b></a>
            </li>
            <li class="nav-item">
                    <a  style="color:black;  font-family: 'Libre Caslon Text',serif;" class="nav-link" href="{% url 'review' %}"><b>Review</b></a>
                </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a  style="color:black;  font-family: 'Libre Caslon Text',serif; background-color: #FF786A;" class="nav-link" href="{% url 'logout' %}"><b>Logout</b></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

  <div class="background-col" style= "color:black;" >
    <div class="container">
      <header class="text-center mt-5">
          <h1 class="d-flex justify-content-center" style=" font-family: 'Libre Caslon Text',serif; font-size: 4vw;">Hello, {{ user.username}}</h1>
           <h3 class="font-weight-light judul2">Now playing nearby.</h3>
      </header>
    </div>

    <div class="container">      
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Overview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <div class="tengah">
            <img class="fotoP justify-content-center"></img>
          </div>
            <div class="judulP"></div>
            <paragraph class="paragraphP"> </paragraph>
            <button class="buttonP"> Add to Favorite </button>
            <button class="buttonP2"> Details </button>
            <div class="tengah">
                  <input class="inputP">  </input>
            </div>
  
  
          </div>
          <div class="modal-footer">
  
  
          </div>
        </div>
      </div>
    </div>
    </div>
              
    <div class="container align-middle ">
      <div class="row text-center d-flex justify-content-center">  
        <div class="form-group shadow-textarea">
          <button id="NPbutton"class="align-middle"> Now Playing </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div id="results" class="results" style= " margin-left: 40%; margin-right: 40%;">

              </div>
        </div>
        
      </div>
    </div>
  </div>
          
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src = "{% static 'js/jquery.js' %}"></script>
<script src = "{% static 'js/jsFadhil.js' %}"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>


</body>


</html>
