
.paragraphP{
  color: black;
  font-size: 2em;
}

.judulP{
  color: black;
  font-size: 2vw;
}

.paragraphP{
  color: black;
  font-size: 1vw;
}

.buttonP{
  color: black;
  font-size: 1vw;
  border-radius: 3vw;
  background-color: #F1D261;
}

.buttonP2{
  color: black;
  font-size: 1vw;
  border-radius: 3vw;
  background-color: #F16161;
}

.inputP{
  width: 30vw;
  height: 20vw;
  /* align-content: center; */

}

.tengah{
  text-align: center;
  padding: 2%;
}


